{% extends 'base.html' %}


{% block body %}

    <h2>About Us</h2>
    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
         Deleniti tenetur et, velit nihil eum praesentium expedita inventore unde asperiores fugiat reiciendis sequi commodi quod aliquid debitis sapiente molestiae at laboriosam.</h3>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        At atque odio porro consectetur aliquam quisquam modi, 
        tempore quae culpa cupiditate placeat quam consequuntur aut explicabo eligendi nulla illo molestias hic.</p>

{% endblock body %}
    