{% extends 'base.html' %}

{% block body %}

    <h2>Welcome to Hi-Talent Website</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Saepe quaerat fuga vero ratione itaque maiores aperiam molestias eos voluptatem ad,
          dolor nemo error. Ipsum beatae ipsa repellendus laudantium,
           perferendis id.<p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dolorum quas incidunt sunt hic. Magni doloremque dicta excepturi porro, 
        ab doloribus quam, ipsam at tempore, explicabo eligendi provident dolores facilis a</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
         Corrupti perferendis optio similique quia molestias asperiores.
          Vero pariatur iure in ullam. Nemo voluptatum in sapiente at recusandae eligendi eius error soluta!</p>

{% endblock body %}